@page
@model Lab11.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form onsubmit="Validate()">
    <!-- Username -->
    <div class="form-outline mb-4">
        <input type="text" id="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" id="email" class="form-control" />
        <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
    </div>
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="agree" />
                <label class="form-check-label" id="" for=""> I agree</label>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </div>
</form>